* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Freight Sans Light";
    src: url(../font/Freight\ Sans\ Light.otf) format("opentype");
}
@font-face {
    font-family: "Freight Sans Book";
    src: url(../font/Freight\ Sans\ Book.otf) format("opentype");
}
@font-face {
    font-family: "Freight Sans Medium";
    src: url(../font/Freight\ Sans\ Medium.otf) format("opentype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main#eachBeer {
    display: flex;
    /* border: brown solid 3px; */
    height: 400px;
    width: 800px;
}

#showImg {
    height: 400px;
    width: 400px;
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: contain;
}

#eachBeerTag {
    height: 400px;
    width: 400px;
    padding: 30px 10px 0px 40px;  
    display: flex;
    flex-direction: column;  
}

#beerTextOnly{
    width: 350px;
    height: 340px;
}
#beerName{
    font-family:"Freight Sans Medium";
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 1000;
    width: 350px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

#brewery{
    font-family:"Freight Sans Light";
    margin-bottom: 15px;
    font-size: 15px;
    width: 350px;
}

#beerPrice{
    font-family:"Freight Sans Light";
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    width: 350px;
}

#beerInfo{
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    width: 350px;
    height: 160px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 20px;
}
#infoItem{
    height: 80px;
    width: 175px;
    padding-right: 35px;
}

#infoTitle{
    font-family:"Freight Sans Medium";
    font-size: 15px;
    margin-bottom: 5px;
}

#infoValue{
    font-size: 12px;
    line-height: 18px;
    font-family:'Times New Roman', Times, serif;
}

#buttons{
    font-family:"Freight Sans Light";
    display: flex;
    height: 30px;
    width: 350px;
    font-size: 14px;
}

button{
    margin-right: 25px;
    height: 20px;
    width: 55px;
}

/* Create and Edit page */
#infoItemForm{
    margin-bottom: 8px;
}

#infoTitleForm{
    font-family:"Freight Sans Medium";
    font-size: 14px;
    margin-bottom: 2px;
}

#infoValueForm{
    font-size: 13px;
    font-family:'Freight Sans Light';
}



footer{
    display: flex;
    height: 30px;
    width: 800px;
    border: brown solid 3px;
}























