* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Freight Sans Light";
    src: url(../font/Freight\ Sans\ Light.otf) format("opentype");
}
@font-face {
    font-family: "Freight Sans Book";
    src: url(../font/Freight\ Sans\ Book.otf) format("opentype");
}
@font-face {
    font-family: "Freight Sans Medium";
    src: url(../font/Freight\ Sans\ Medium.otf) format("opentype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Index */
main{
    height: 560px;
    width: 400px;
    background-image: url("../images/beerfridge.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#allBeerCan{
    height: 440px;
    width: 260px;
    display: grid;
    grid-template-columns: repeat(4, 50.5px [col-start]);
    grid-template-rows: [row1-start] 120px [row1-end] 75px [third-line] 120px [last-line];
    column-gap: 19.3px;
    row-gap: 65px;
    position: relative;
    transition: opacity 200ms ease;

}
.eachBeerCan{
    height: 120px;
    width: 50.5px;
    background-image: url("../images/can.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.eachBeerCanLabel{
    height: 95.5px;
    width: 49px;
    position: absolute;
    top: 15px;
    left: 0px;
}

.dragging {
    opacity: 0.8;
    transition: opacity 1s ease;
  }

/* Show */
main#eachBeer {
    display: flex;
    /* border: brown solid 3px; */
    height: 400px;
    width: 800px;
    margin-top: 10px;
    align-content: center;
}

#showImg {
    height: 400px;
    width: 400px;
    background-color: rgb(226, 220, 212);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eachBeerTag {
    height: 400px;
    width: 400px;
    padding: 30px 10px 0px 40px;  
    display: flex;
    flex-direction: column;  
    position: relative;
}

#beerTextOnly{
    width: 350px;
    height: 340px;
}
#beerName{
    font-family:"Freight Sans Medium";
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 1000;
    width: 350px;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

#brewery{
    font-family:"Freight Sans Light";
    margin-bottom: 15px;
    font-size: 15px;
    width: 350px;
}

#beerPrice{
    font-family:"Freight Sans Light";
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    width: 350px;
}

#beerInfo{
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    width: 350px;
    height: 160px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 20px;
}
#infoItem{
    height: 80px;
    width: 175px;
    padding-right: 35px;
}

#infoTitle{
    font-family:"Freight Sans Medium";
    font-size: 15px;
    margin-bottom: 5px;
}

#infoValue{
    font-size: 12px;
    line-height: 18px;
    font-family:'Times New Roman', Times, serif;
}

#buttons{
    font-family:"Freight Sans Light";
    display: flex;
    height: 30px;
    width: 350px;
    font-size: 14px;
}

button{
    margin-right: 25px;
    height: 20px;
    width: 55px;
}

#backButton{
    font-family:"Freight Sans Light";
    position: absolute;
    top: 370px;
    left: 120px;
    font-size: 14px;
}

#newButton{
    font-family:"Freight Sans Light";
    height: 20px;
    width: 55px;
    font-size: 14px;
    position: absolute;
    top: -30px;
    left: 350px;
}

/* Create and Edit page */
#infoItemForm{
    margin-bottom: 8px;
}

#infoTitleForm{
    font-family:"Freight Sans Medium";
    font-size: 14px;
    margin-bottom: 2px;
}

#infoValueForm{
    font-size: 13px;
    font-family:'Freight Sans Light';
}

.imageForm{
    margin-bottom: 8px;
    height: 50px;
    width: 150px;
}

.imageTitleForm{
    font-family:"Freight Sans Medium";
    font-size: 14px;
    margin-bottom: 2px;
}

.imageValueForm{
    font-size: 13px;
    font-family:'Freight Sans Light';
}


/* Age verification */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    
  }
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-family:"Freight Sans Light";
    align-items: center;
    font-size: 12px;
}
h2{
    margin-bottom: 15px;
    word-spacing: 3px;
}

#yes-button, #no-button {
    border: grey solid 1px;
    margin: 0 10px 0 10px;
    background-color: white;
    cursor: pointer;
    font-family:"Freight Sans Light";
}

#yes-button:hover, #no-button:hover {
    background-color: #6e9154;
    color: white;
}

#beerGallary{
    width: 700px;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallaryImg{
    margin: 10px;
}

footer{
    display: flex;
    height: 30px;
    width: 800px;
    border: brown solid 3px;
}
























