<%- include("../partials/head.ejs") %>
    <title>Beer Gallary</title>
</head>
<body>
    <div id="beerGallary">
        <% for (let i=0; i<beers.length; i++) { %>
            <img src="<%=beers[i].showImg%>" width="200px" height="200px" id="gallaryImg">
            <% } %>
    </div>

</body>
</html>