<%- include("../partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <h1>beerssss</h1>
    <div>
        <% for (beer of beers) { %>

            <a href="/beers/<%= beer._id%>"> <%= beer.name %> </a>
            <br>
        <% } %>
    </div>
    <div><a href="/beers/new"><button>Create a new beer</button></a></div>
</body>
</html>