<%- include("../partials/head.ejs") %>
    <title>Beer Fridge</title>
</head>
<body>
    <main>

        <div class="modal" id="age-verification-modal">
            <div class="modal-content">
              <h2>Are you over 21?</h2>
              <button id="yes-button">Yes</button>
              <button id="no-button"><a href="/beers/gallary">No</a></button>
            </div>
        </div>


        <div id="allBeerCan">
            <% for (let i=0; i<beers.length; i++) { %>

                <a class="eachBeerCan shallow-draggable" draggable="true" href="/beers/<%= beers[i]._id%>">

                    <div class="eachBeerCan">

                        <img src="<%=beers[i].canImg%>" height="120">
                            
                        <div class="eachBeerCanLabel">
                            <img src="<%=beers[i].canLabel%>" width="49px">
                        </div>    
                    
                    </div>
                </a>

            <% } %>
            <div >
                <% if(!hideNewButton) { %>

                    <a href="/beers/new"><button id="newButton">Create</button></a>

                    <% } %>
            </div>
            
            
        </div>
    </main>

</body>
</html>