<%- include("../partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <main>
        <div id="allBeerCan">
            <% for (beer of beers) { %>

                <div id="eachBeerCan">

                <a href="/beers/<%= beer._id%>"><img src="<%=beer.canImg%>" height="120"></a>
                </div>

            <% } %>
        </div>
        <a href="/beers/new"><button id="newButton">Create</button></a>
    </main>
</body>
</html>