<%- include("../partials/head.ejs") %>
    <title>Beer Fridge</title>
</head>
<body>
    <main>
        <div id="allBeerCan">
            <% for (let i=0; i<beers.length; i++) { %>

                <a class="eachBeerCan" href="/beers/<%= beers[i]._id%>">

                    <div class="eachBeerCan">

                        <img src="<%=beers[i].canImg%>" height="120">
                            
                        <div class="eachBeerCanLabel">
                            <img src="<%=beers[i].canLabel%>" width="49px">
                        </div>    
                    
                    </div>
                </a>

            <% } %>
        </div>
        <a href="/beers/new"><button id="newButton">Create</button></a>
    </main>
</body>
</html>