<%- include("../partials/head.ejs") %>
    <title>Beer Fridge</title>
</head>
<body>
    <main>
        <div id="allBeerCan">
            <% for (let i=0; i<beers.length; i++) { %>

                <a class="eachBeerCan shallow-draggable" draggable="true" href="/beers/<%= beers[i]._id%>">

                    <div class="eachBeerCan">

                        <img src="<%=beers[i].canImg%>" height="120">
                            
                        <div class="eachBeerCanLabel">
                            <img src="<%=beers[i].canLabel%>" width="49px">
                        </div>    
                    
                    </div>
                </a>

            <% } %>
            <div >
                <% if(!hideNewButton) { %>
                   
                    <button id="newButton" onclick = "window.location.href='http://localhost:3000/beers/new';">Create</button>

                    <% } %>
            </div>
            
            
        </div>
    </main>

</body>
</html>