<%- include("../partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <form action="/beers" method="POST">
    <main id="eachBeer">
        <div id="showImg">
            <div class="imageForm">
                <div class="imageTitleForm">Image</div>
                <div class="imageValueForm"><input type="text" name="canLabel" placeholder="URL" /></div>
            </div>
        </div>

        <section id="eachBeerTag">

                <div id="beerTextOnly">                
                    <div id="infoItemForm">
                        <div id="infoTitleForm">Name</div>
                        <div id="infoValueForm"><input type="text" name="name" placeholder="Name" /></div>
                    </div>
                    
                    <div id="infoItemForm">
                        <div id="infoTitleForm">Brewery</div>
                        <div id="infoValueForm"><input type="text" name="brewery" placeholder="Brewery" /></div>
                    </div>

                    <div id="infoItemForm">
                        <div id="infoTitleForm">Price $</div>
                        <div id="infoValueForm"><input type="number" name="price" placeholder="Price" /></div>
                    </div>
                    
                    <div id="infoItemForm">
                        <div id="infoTitleForm">Style</div>
                        <div id="infoValueForm"><input type="text" name="style" placeholder="Style" /></div>
                    </div>

                    <div id="infoItemForm">
                        <div id="infoTitleForm">Hops</div>
                        <div id="infoValueForm"><input type="text" name="hops" placeholder="Hops" /></div>
                    </div>

                    <div id="infoItemForm">
                        <div id="infoTitleForm">Tasting Notes</div>
                        <div id="infoValueForm"><input type="text" name="notes" placeholder="Tasting Notes" /></div>
                    </div>

                    <div id="infoItemForm">
                        <div id="infoTitleForm">ABV %</div>
                        <div id="infoValueForm"><input type="number" name="abv" placeholder="ABV" /></div>
                    </div>  
                    
                </div>

                <div id="buttons">
                    <button type="submit" value="create">CREATE</button>
                </div>
            </section>
        </main>
    </form>
</body>
</html>